<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="#">Inventory Management System</a>
        <div>
            <a href="#" onclick="location.href='@Url.Action("Logout", "Account")'"><i class="fa fa-power-off fa-2x"></i></a>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-2">
                <a class="btn" href="#" onclick="location.href='@Url.Action("Index", "Home")'" role="button">
                    <i class="fa fa-home fa-2x"></i>
                </a>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" onclick="location.href='@Url.Action("Administrator", "Administrators")'" role="button">Administration</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Maintenance</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" onclick="location.href='@Url.Action("Shippers", "Maintenance")'">Shipper</a>
                            <a class="dropdown-item" href="#" onclick="location.href='@Url.Action("Suppliers", "Maintenance")'">Supplier</a>
                            <a class="dropdown-item" href="#" onclick="location.href='@Url.Action("Customers", "Maintenance")'">Customer</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Order</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" onclick="location.href='@Url.Action("PlaceOrders", "Order")'">Place Order</a>
                            <a class="dropdown-item" href="#" onclick="location.href='@Url.Action("OrdersHistory", "Order")'">Order History</a>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="col-md-10">
                <form>
                    @RenderBody()
                </form>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy;2018 - Senior Project Fall</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $('.tree-toggle').click(function () {
            $(this).parent().children('ul.tree').toggle(200);
        });
        $(function () {
            $('.tree-toggle').parent().children('ul.tree').toggle();
        })
    </script>
</body>
</html>
