@model IEnumerable<Inventory.Models.Shipper>

@{
    ViewBag.Title = "Shippers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shippers</h2>

<p>
    @Html.ActionLink("Create New Shipper", "CreateShipper")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShipperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveYN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShipperName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveYN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Shipper", new { id=item.ShipperID })            
        </td>
    </tr>
}

</table>
