@model Inventory.Models.DisplayOrderDetails

@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderDetails</h2>

<p>
    @Html.ActionLink("Create New", "CreateOrderDetail", new { id = Model.OrderID })
</p>
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Unit Price
        </th>
        <th>
            Quantity
        </th>
    </tr>

    @foreach (var item in Model.Details)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }

</table>


@{ if (Model.Details.ToArray<Inventory.Models.OrderDetails>().Length > 0)
    {
        <div>
            @Html.ActionLink("Back to Details", "Details", new { id = Model.Details.ToArray<Inventory.Models.OrderDetails>()[0].OrderID })
        </div>
    }
}
