
@{
    ViewBag.title = "SignUp";
}
@model Inventory.Models.Users

<h1>Create an Account</h1>

<h3>Enter Personal Information</h3>
<div class="row">
    <div class="col-md-2">
       <label>First Name</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.First_Name)
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Last Name</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.Last_Name)
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Phone</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.Phone_Number)
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Street</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.Street)
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>City</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.City)
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Zip Code</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.Zip_Code)
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Email</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.Email)
    </div>
</div>

<h3>Enter Login Information</h3>
<div class="row">
    <div class="col-md-2">
       <label>User Name</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.UserID)
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Password</label>
    </div>
    <div class="col-md-2">

        @Html.TextBoxFor(m => m.Password_Field)
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Re-enter Password</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.Password_Field)
    </div>
</div>
<br />

    <div class="row">
        <div class="col-md-2">
            <input id="addButton" type="submit" value="Add" formaction=@Url.Action("AddUser") formmethod="post"  />
        </div>
        <div class="col-md-2">
            <input id="cancelButton" type="button" value="Cancel" />
        </div>
    </div>

