
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.title = "SignUp";
}

@model Inventory.Models.Users

<h1>Create an Account</h1>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<h3>Enter Personal Information</h3>
<div class="row">
    <div class="col-md-2">
        <label>First Name</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.FirstName, new { MaxLength = 25 })
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Last Name</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.LastName, new { MaxLength = 25 })
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Phone</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.PhoneNumber, new { MaxLength = 10 })
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Street</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.Street, new { MaxLength = 25 })
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>City</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.City, new { MaxLength = 25 })
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Zip Code</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.ZipCode, new { MaxLength = 5 })
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Email</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.Email, new { MaxLength = 40 })
    </div>
</div>

<h3>Enter Login Information</h3>
<div class="row">
    <div class="col-md-2">
        <label>User Name</label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.UserName, new { MaxLength = 20 })
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Password</label>
    </div>
    <div class="col-md-2">
        @Html.EditorFor(m => m.Password_Field, new { MaxLength = 20 })
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>Re-enter Password</label>
    </div>
    <div class="col-md-2">
        @Html.EditorFor(m => m.Password_Field1, new { MaxLength = 20 })
    </div>
</div>
<br />

<div class="row">
    @* Button to add new user *@
    <div class="col-md-2">
        <input id="addButton" type="submit" value="Add" formaction=@Url.Action("AddUser") formmethod="post" />
    </div>
    @* Button to cancel signing up a user *@
    <div class="col-md-2">
        <input id="cancelButton" type="button" value="Cancel" onclick="location.href='@Url.Action("Login", "Account")'"/>
    </div>
</div>

